.container {
  padding: 0 2 rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(42, 77, 165);
  /* align-items: center; */
}

.map {
  background-color: red;
  flex: 1;
}

.start {
  background-color: cadetblue;
  flex: 1;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
